.bundle/
.sass-cache/
_site/
.vscode
.jekyll-cache
Gemfile.lock

# Filter files from po/filter-markdown.py
*.filt

# Translated markdown files
_platforms/[a-z][a-z]/*.md
_platforms/[a-z][a-z]_[A-Z][A-Z]/*.md
_platforms/[a-z][a-z][a-z]/*.md
_platforms/[a-z][a-z]_[A-Z][a-z][a-z][a-z]/*.md
_pages/[a-z][a-z]/*.md
_pages/[a-z][a-z]_[A-Z][A-Z]/*.md
_pages/[a-z][a-z][a-z]/*.md
_pages/[a-z][a-z]_[A-Z][a-z][a-z][a-z]/*.md
_usps/[a-z][a-z]/*.md
_usps/[a-z][a-z]_[A-Z][A-Z]/*.md
_usps/[a-z][a-z][a-z]/*.md
_usps/[a-z][a-z]_[A-Z][a-z][a-z][a-z]/*.md
tutorials/[a-z][a-z]/*.md
tutorials/[a-z][a-z]_[A-Z][A-Z]/*.md
tutorials/[a-z][a-z][a-z]/*.md
tutorials/[a-z][a-z]_[A-Z][a-z][a-z][a-z]/*.md
