.bundle/
.sass-cache/
_site/
.vscode
.jekyll-cache

# Filter files from po/filter-markdown.py
*.filt

# Translated markdown files
_platforms/[a-z][a-z](?:_[A-Z][A-Z])?/*.md
_pages/[a-z][a-z](?:_[A-Z][A-Z])?/*.md
_usps/[a-z][a-z](?:_[A-Z][A-Z])?/*.md
tutorials/[a-z][a-z](?:_[A-Z][A-Z])?/*.md
