---
title: Modeling for Everyone
layout: bare
redirect_from: /pages/about.html
---

<div id="header-wrapper">
<header id="header" class="header-front-page">

    {% include menu.html show_subtitle="yes" %}

    <div class="bottom-header front-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="col-sm-8 offset-sm-2">
                    <div class="section-description">
                        <p>A picture says more than a thousand words.
                            Describe and document your applications and systems with Gaphor to enhance knowledge
                            sharing.</p>
                    </div>
                    <a href="{% link index.html %}#about" title="Learn more" class="btn header-button-one">Learn
                        more</a>
                    <a href="{% link download.html %}" title="Download" class="btn header-button-two">Download</a>
                </div>
            </div>
        </div>
    </div>
</header>
</div>
{% capture about %}
Gaphor is a UML and SysML modeling application written in Python. It is designed
to be easy to use, while still being powerful. Gaphor implements a
fully-compliant UML 2 data model, so it is much more than a picture
drawing tool. You can use Gaphor to quickly visualize different aspects
of a system as well as create complete, highly complex models.

{% endcapture %}

{% include services.html id="about" title="About" description=about services=site.usps %}

{% capture download %}
There are many ways to install Gaphor.
The simplest is to download the official installer for Windows or macOS.
For Linux you can install Gaphor using FlatHub.
You can also use Python's built-in <code>pip</code> tool as long as you have all of the required dependencies installed.
{% endcapture %}

<section id="download" class="front-page-section">

    {% include section-header.html title="Download" description=download %}

    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    {% for platform in site.platforms %}
                    {% if forloop.index > 1 %}&nbsp;&nbsp;{% endif %}
                    <a href="{% link download.html %}#{{ platform.title | downcase }}"><img src="{{ platform.logo }}"
                            alt="{{ platform.title }} logo" style="width: 52px" /></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %}
<!-- Enable this when there's at least 3 blogs, so they can be displayed on the landing page. -->
{% include latest-news.html %}
{% endcomment %}

<script>
<!--
  window.onload = function() {
    var img = new Image();
    img.onload = function() {
      document.getElementById("header").style.backgroundImage = "url(/images/splash.jpg)";
    }
    img.src = "/images/splash.jpg";
  };
//-->
</script>
