<section id="about" class="front-page-section">
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>About</h3>
                </div>
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-description">It is an amazng one-page theme with great features that offers
                        an incredible experience. It is easy to install, make changes, adapt for your business. A
                        modern design with clean lines and styling for a wide variety of content, exactly how a
                        business design should be. You can add as many images as you want to the main header area
                        and turn them into slider.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div id="illdy_skill-2"
                    class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0 widget_illdy_skill">
                    <div class="skill" data-skill-progress-bar-width="60" data-skill-color="#f18b6d">
                        <div class="skill-top clearfix">
                            <div class="skill-progress-bar"></div>
                        </div>
                        <div class="skill-bottom"><i class="fa fa-font"></i><span>Typography</span></div>
                    </div>
                </div>
                <div id="illdy_skill-3"
                    class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0 widget_illdy_skill">
                    <div class="skill" data-skill-progress-bar-width="82" data-skill-color="#f1d204">
                        <div class="skill-top clearfix">
                            <div class="skill-progress-bar"></div>
                        </div>
                        <div class="skill-bottom"><i class="fa fa-pencil"></i><span>Design</span></div>
                    </div>
                </div>
                <div id="illdy_skill-4"
                    class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0 widget_illdy_skill">
                    <div class="skill" data-skill-progress-bar-width="86" data-skill-color="#6a4d8a">
                        <div class="skill-top clearfix">
                            <div class="skill-progress-bar"></div>
                        </div>
                        <div class="skill-bottom"><i class="fa fa-code"></i><span>Development</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
