<section id="contact-us" class="front-page-section">

    {% include section-header.html title="Contact us" %}

    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="margin-bottom: 45px;">
                        <div class="col-sm-4">
                            <div class="contact-us-box">
                                <div class="box-left" data-customizer="box-left-address-title">
                                    Address </div>
                                <div class="box-right">
                                    <span class="box-right-row" data-customizer="contact-us-address-1">Street 221B
                                        Baker Street, </span>
                                    <span class="box-right-row" data-customizer="contact-us-address-2">London,
                                        UK</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="contact-us-box">
                                <div class="box-left" data-customizer="box-left-customer-support-title">
                                    Customer Support </div>
                                <div class="box-right">
                                    <span class="box-right-row">E-mail: <a
                                            href="/cdn-cgi/l/email-protection#aecdc1c0dacfcddaeeddc7dacb80cdc1c3"
                                            title="contact@site.com"><span class="__cf_email__"
                                                data-cfemail="72111d1c0613110632011b06175c111d1f">[email&#160;protected]</span></a></span>
                                    <span class="box-right-row" data-customizer="contact-us-phone">Phone: (555)
                                        555-5555</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="contact-us-social">
                                <a href="https://twitter.com/colorlib" title="Twitter" target="_blank"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/colorlib" title="Facebook" target="_blank"><i
                                        class="fa fa-facebook"></i></a>
                                <a href="#" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div role="form" class="wpcf7" id="wpcf7-f128-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response" role="alert" aria-live="polite"></div>
                        <form action="/illdy/#wpcf7-f128-o1" method="post" class="wpcf7-form init"
                            novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="128" />
                                <input type="hidden" name="_wpcf7_version" value="5.2" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f128-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="0" />
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                            </div>
                            <p><label> Your Name (required)<br />
                                    <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                            name="your-name" value="" size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true" aria-invalid="false" /></span> </label></p>
                            <p><label> Your Email (required)<br />
                                    <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                            name="your-email" value="" size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                            aria-required="true" aria-invalid="false" /></span> </label></p>
                            <p><label> Subject<br />
                                    <span class="wpcf7-form-control-wrap your-subject"><input type="text"
                                            name="your-subject" value="" size="40"
                                            class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span>
                                </label></p>
                            <p><label> Your Message<br />
                                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message"
                                            cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea"
                                            aria-invalid="false"></textarea></span> </label></p>
                            <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
                            <input type='hidden' id='ct_checkjs_cf7_0d0fd7c6e093f7b804fa0150b875b868'
                                name='ct_checkjs_cf7' value='0' />
                            <div class="wpcf7-response-output" role="alert" aria-hidden="true"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
