<section id="counter" class="front-page-section"
style="background-image: url(images/front-page/front-page-counter.jpg);background-color:#000000;">
<div class="counter-overlay"></div>
<div class="container">
    <div class="row inline-columns">
        <div id="illdy_counter-4" class="col-sm-4 col-xs-12 widget_illdy_counter"><span class="counter-number"
                data-from="1" data-to="260" data-speed="2000" data-refresh-interval="100"></span><span
                class="counter-description">Projects</span>
        </div><div id="illdy_counter-3" class="col-sm-4 col-xs-12 widget_illdy_counter"><span class="counter-number"
                data-from="1" data-to="120" data-speed="2000" data-refresh-interval="100"></span><span
                class="counter-description">Clients</span>
        </div><div id="illdy_counter-2" class="col-sm-4 col-xs-12 widget_illdy_counter"><span class="counter-number"
                data-from="1" data-to="260" data-speed="2000" data-refresh-interval="100"></span><span
                class="counter-description">Coffes</span></div>
    </div>
</div>
</section>
