<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div id="text-5" class="widget widget_text">
                    <div class="widget-title">
                        <h5>PRODUCTS</h5>
                    </div>
                    <div class="textwidget">
                        <ul>
                            <li><a href="#" title="Our work">Our work</a></li>
                            <li><a href="#" title="Club">Club</a></li>
                            <li><a href="#" title="News">News</a></li>
                            <li><a href="#" title="Announcement">Announcement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div id="text-6" class="widget widget_text">
                    <div class="widget-title">
                        <h5>INFORMATION</h5>
                    </div>
                    <div class="textwidget">
                        <ul>
                            <li><a href="#" title="Pricing">Pricing</a></li>
                            <li><a href="#" title="Terms">Terms</a></li>
                            <li><a href="#" title="Affiliates">Affiliates</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div id="text-7" class="widget widget_text">
                    <div class="widget-title">
                        <h5>SUPPORT</h5>
                    </div>
                    <div class="textwidget">
                        <ul>
                            <li><a href="#" title="Documentation">Documentation</a></li>
                            <li><a href="#" title="FAQs">FAQs</a></li>
                            <li><a href="#" title="Forums">Forums</a></li>
                            <li><a href="#" title="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <p class="copyright">
                <span>Theme: <a href="https://colorlib.com/illdy" title="Illdy"
                        target="_blank">Illdy</a>.</span>
                <span class="bottom-copyright">&copy; Copyright 2017-2020. All Rights
                    Reserved.</span>
            </p>
        </div>
    </div>

</footer>
