<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div id="text-5" class="widget widget_text">
                    <div class="widget-title">
                        <h5>We love to hear from you</h5>
                    </div>
                    <div class="textwidget">
                        <ul>
                            <li><a href="https://gitter.im/gaphor/Lobby"><i
                                        class="fas fa-angle-right"></i>&nbsp;&nbsp;&nbsp;Gitter</a></li>
                            <li><a href="https://github.com/gaphor"><i
                                        class="fas fa-angle-right"></i>&nbsp;&nbsp;&nbsp;GitHub</a></li>
                            <li><a href="https://github.com/gaphor/gaphor/issues"><i
                                        class="fas fa-angle-right"></i>&nbsp;&nbsp;&nbsp;Open an issue on GitHub</a>
                            </li>
                            <li><a href="https://gaphor.readthedocs.io/"><i
                                        class="fas fa-angle-right"></i>&nbsp;&nbsp;&nbsp;Tech docs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <p class="copyright">
                <span>Theme: <a href="https://colorlib.com/illdy" title="Illdy" target="_blank">Illdy</a>.</span>
                <span class="bottom-copyright">&copy; Copyright
                    <script>document.write(new Date().getFullYear());</script> Arjan Molenaar and Dan Yeaw.</span>
            </p>
        </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9578559-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.google_tracking_id }}');
    </script>

</footer>