{% include footer.md %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <h5>{{ site.data.strings.footer.love }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 col-lg-4">
                <ul class="fa-ul">
                    <li><a href="https://gitter.im/gaphor/Lobby"><i class="fa-li fa fa-angle-right"></i>
                            <i class="fab fa-gitter"></i> Gitter</a></li>
                    <li><a href="https://twitter.com/modelwithgaphor"><i class="fa-li fa fa-angle-right"></i>
                            <i class="fab fa-twitter"></i> Twitter</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 col-lg-4">
                <ul class="fa-ul">
                    <li><a href="https://github.com/gaphor"><i class="fa-li fa fa-angle-right"></i>
                            <i class="fab fa-github"></i> GitHub</a></li>
                    <li><a href="https://github.com/gaphor/gaphor/issues"><i class="fa-li fa fa-angle-right"></i>
                            <i class="fas fa-band-aid"></i>{{ site.data.strings.footer.open-issue }}</a>
                    </li>
                    <li><a href="https://gaphor.readthedocs.io/"><i class="fa-li fa fa-angle-right"></i>
                            <i class="fas fa-drafting-compass"></i>{{ site.data.strings.footer.tech-docs }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <p class="copyright">
                <span>{{ site.data.strings.footer.theme }}: <a href="https://colorlib.com/illdy" title="Illdy">Illdy</a>.</span>
                <span class="bottom-copyright">{{ site.data.strings.footer.copyright }}</span>
            </p>
        </div>
    </div>

</footer>

<!-- page.url is / or /XX/ for translations -->
{% if page.url.size <= 4 %}
<script>
<!--
  window.onload = function() {
    var img = new Image();
    img.onload = function() {
      document.getElementById("header").style.backgroundImage = "linear-gradient(180deg, #000000D0 0%, #3333334c 40%), url(/images/splash.jpg)";
    }
    img.src = "/images/splash.jpg";
  };
//-->
</script>
{% endif %}
