<section id="latest-news" class="front-page-section">
  <p>
  {% include section-header.html title=site.data.strings.latest-news.blog-and-news description=site.data.strings.latest-news.blog-content %}
  <a href="{{ '/discuss/' | prepend: site.baseurl }}">Pokud chcete sdilet</a> {{ site.data.strings.latest-news.share-content }}</p>

  <a href="{{ '/blog/' | prepend: site.baseurl }}" title=site.data.strings.latest-news.see-blog class="latest-news-button"><i
      class="fa fa-chevron-circle-right"></i>{{ site.data.strings.latest-news.see-blog }}</a>

  <div class="section-content">
    <div class="container">
      <div class="row blog-carousel">
        {% assign latest_news = site.posts
            | where_exp:"post", "post.language == page.language"
            | limit: 3 %}
        {% for post in latest_news limit: 3 %}
        <div class="blog-post col-12 col-lg-4">
          <div class="post">
            {% if post.image_url %}
            <div class="post-image" style="background-image: url({{ post.image_url }})">
            </div>
            {% endif %}
            <h5 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
            <div class="post-entry">{{ post.content | split:'<!--break-->' | first }}</div>
            <a href="{{ post.url }}" title="Read more" class="post-button"><i
                class="fa fa-chevron-circle-right"></i>{{ read-more }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
