<section id="latest-news" class="front-page-section">

  {% capture blog %}
  Do you want to know what's going on with Gaphor? Read our blog!

  [Contact the team]({% link discuss.md %})
  if you want to share content related to Gaphor.
  {% endcapture %}

  {% include section-header.html title="Blog and News" description=blog %}

  <a href="{% link blog.html %}" title="See blog" class="latest-news-button"><i
      class="fa fa-chevron-circle-right l10n"></i>See blog</a>

  <div class="section-content">
    <div class="container">
      <div class="row blog-carousel">
        {% for post in site.posts %}
        <div class="blog-post col-12 col-md-6 col-lg-4">
          <div class="post">
            {% if post.image_url %}
            <div class="post-image" style="background-image: url({{ post.image_url }})">
            </div>
            {% endif %}
            <h5 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
            <div class="post-entry">{{ post.content | | truncate: 220 }}</div>
            <a href="{{ post.url }}" title="Read more" class="post-button"><i
                class="fa fa-chevron-circle-right l10n"></i>Read
              more </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>