{% include menu.md %}
<div class="top-header">
  <div class="container">
    <div class="row">
      {% include languages.html %}
    </div>
    <div class="row">
      <div class="col-10 col-lg-3">
        <a href="{{ site.url }}" title="{{ site.title[page.language] }}" class="header-logo">
          <img src="{{ site.logo }}" alt="Gaphor logo" />
          Gaphor
        </a>
        {% if include.show_subtitle %}
        <div class="header-subtitle">UML/SysML Modeling</div>
        {% endif %}
      </div>
      <div class="col-2 col-lg-9">
        <label for="menu-toggle" class="open-responsive-menu"><i class="fa fa-bars"></i></label>
        <nav class="header-navigation">
          <ul>
            <li><a href="/{% if page.language != 'en' %}{{ page.language }}/{% endif %}#about">{{ about }}</a></li>
            <li><a href="/{% if page.language != 'en' %}{{ page.language }}/{% endif %}download">{{ download }}</a></li>
            <li><a href="/{% if page.language != 'en' %}{{ page.language }}/{% endif %}tutorials">{{ tutorials }}</a></li>
            <li><a href="/{% if page.language != 'en' %}{{ page.language }}/{% endif %}blog">{{ blog }}</a></li>
            <li><a href="/{% if page.language != 'en' %}{{ page.language }}/{% endif %}discuss">{{ discuss }}</a></li>
            <li><a href="/{% if page.language != 'en' %}{{ page.language }}/{% endif %}contribute">{{ contribute }}</a></li>
            <li><a href="https://github.com/gaphor/gaphor"><i class='fab fa-github' style='font-size: 168%' title='GitHub repository'></i></a>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<input id="menu-toggle" type="checkbox" hidden></input>
<nav class="responsive-menu">
  <label for="menu-toggle" class="close-responsive-menu"><i class="fa fa-times"></i></label>
  <ul>
    <li><a href="/">Home</a></li>
    {% for menuitem in site.data.menu[page.language] }}  %}
    <li><a href="{{ menuitem.url }}">{{ menuitem.label }}</a></li>
    {% endfor %}
  </ul>
</nav>