<div class="top-header">
  <div class="container">
    <div class="row">
      {% include languages.html %}
    </div>
    <div class="row">
      <div class="col-10 col-lg-3">
        <a href="{{ '/' | prepend: site.baseurl }}" title="{{ site.title[page.language] }}" class="header-logo">
          {% if include.show_subtitle %}
          <img src="{{ site.full_logo }}" alt="Gaphor logo" />
          {% else %}
          <img src="{{ site.logo }}" alt="Gaphor logo" />
          {% endif %}
          </a>
      </div>
      <div class="col-2 col-lg-9">
        <label for="menu-toggle" class="open-responsive-menu"><i class="fa fa-bars"></i></label>
        <nav class="header-navigation">
          <ul>
            <li><a href="{{ '/#about' | prepend: site.baseurl }}">{{ site.data.strings.menu.about }}</a></li>
            <li><a href="{{ '/download' | prepend: site.baseurl }}">{{ site.data.strings.menu.download }}</a></li>
            <li><a href="{{ '/tutorials' | prepend: site.baseurl }}">{{ site.data.strings.menu.tutorials }}</a></li>
            <li><a href="{{ '/pages' | prepend: site.baseurl }}">{{ site.data.strings.menu.blog }}</a></li>
            <li><a href="{{ '/discuss' | prepend: site.baseurl }}">{{ site.data.strings.menu.discuss }}</a></li>
            <li><a href="{{ '/contribute' | prepend: site.baseurl }}">{{ site.data.strings.menu.contribute }}</a></li>
            <li><a href="https://github.com/gaphor/gaphor"><i class='fab fa-github' style='font-size: 168%' title='GitHub repository'></i></a>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<input id="menu-toggle" type="checkbox" hidden></input>
<nav class="responsive-menu">
  <label for="menu-toggle" class="close-responsive-menu"><i class="fa fa-times"></i></label>
  <ul>
    <li><a href="{{ '/' | prepend: site.baseurl }}">{{ site.data.strings.menu.home }}</a></li>
    <li><a href="{{ '/#about' | prepend: site.baseurl }}">{{ site.data.strings.menu.about }}</a></li>
    <li><a href="{{ '/download' | prepend: site.baseurl }}">{{ site.data.strings.menu.download }}</a></li>
    <li><a href="{{ '/tutorials' | prepend: site.baseurl }}">{{ site.data.strings.menu.tutorials }}</a></li>
    <li><a href="{{ '/blog' | prepend: site.baseurl }}">{{ site.data.strings.menu.blog }}</a></li>
    <li><a href="{{ '/discuss' | prepend: site.baseurl }}">{{ site.data.strings.menu.discuss }}</a></li>
    <li><a href="{{ '/contribute' | prepend: site.baseurl }}">{{ site.data.strings.menu.contribute }}</a></li>
    <li><a href="https://github.com/gaphor/gaphor"><i class='fab fa-github' style='font-size: 168%' title='GitHub repository'></i></a>
  </ul>
</nav>
