<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
    integrity="sha512-BHDCWLtdp0XpAFccP2NifCbJfYoYhsRSZOUM3KnAxy2b/Ay3Bn91frud+3A95brA4wDWV3yEOZrJqgV8aZRXUQ=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A=="
    crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src='/js/owl-carousel/owl-carousel.min.js?ver=2.0.0'></script> -->
<!-- <script type="text/javascript" src='/js/count-to/count-to.min.js?ver=5.4.2'></script> -->
<!-- <script type="text/javascript" src='/js/visible/visible.min.js?ver=5.4.2'></script> -->
<!-- <script type="text/javascript" src='/js/parallax/parallax.min.js?ver=1.4.2'></script> -->
<script type="text/javascript" src='/js/scripts.js'></script>
