<section id="{{ include.id }}" class="front-page-section">

    {% include section-header.html title=include.title description=include.description %}

    <div class="section-content">
        <div class="container">
            <div class="row inline-columns">
                {% for usp in include.services %}<div class="col-sm-6 col-md-4 service">
                    <div class="service-icon" style="color: {{ site.colors[forloop.index0] }}"><i
                            class="fa fa-{{ usp.icon }}"></i></div>
                    <h5 class="service-title" style="color: {{ site.colors[forloop.index0] }}">{{ usp.title }}</h5>
                    <div class="service-entry">{{ usp.content | markdownify }}</div>
                </div>{% endfor %}
            </div>
        </div>
    </div>
</section>
