.credits {
  color: #6a4d8a;
  margin-bottom: 2em;
}

.image-attribution {
    margin-top: -1.681em;
    text-align: right;
    a {
        font-size: small;
        text-decoration: none;
        padding: 2px 4px;
    }
}
