/* 10. Contact Us */
#contact-us label {
  width: 100% !important;
}

#contact-us {
  width: 100%;
  background-color: #FFF;
  padding: 40px 0 50px 0;
  text-align: center;
}

#contact-us .section-header {
  width: 100%;
  margin-bottom: 80px;
}

#contact-us .section-content {
  width: 100%;
}

#contact-us .section-content .contact-us-box {
  width: 100%;
  display: inline-block;
  text-align: left;
}

#contact-us .section-content .contact-us-box .box-left {
  width: auto;
  margin: 0;
  padding: 0 20px 0 0;
  border-right: 1px solid #e1e1e1;
  display: table-cell;
  font-weight: 400;
  font-size: 16px;
  color: #f1d204;
  font-family: "Lato";
  line-height: 26px;
}

#contact-us .section-content .contact-us-box .box-right {
  width: auto;
  margin: 0;
  padding: 0 0 0 20px;
  display: table-cell;
}

#contact-us .section-content .contact-us-box .box-right span {
  width: 100%;
  display: block;
  line-height: 1.6;
  font-size: 16px;
  color: #8c9597;
  font-family: "Lato";
}

#contact-us .section-content .contact-us-box .box-right span a {
  color: #8c9597;
  text-decoration: none;
}

#contact-us .section-content .contact-us-box .box-right span a:hover {
  text-decoration: underline;
}

#contact-us .section-content .contact-us-social {
  width: 100%;
  text-align: right;
}

#contact-us .section-content .contact-us-social a {
  margin-left: 15px;
  font-size: 15px;
  color: #8c9597;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#contact-us .section-content .contact-us-social a:hover {
  color: #333;
}

#contact-us .section-content .contact-us-social a:first-child {
  margin-left: 0;
}

#contact-us .section-content .wpcf7-form {
  width: 100%;
  text-align: left;
}

#contact-us .section-content .wpcf7-form p span {
  width: 100%;
  display: block;
}

#contact-us .section-content .wpcf7-form p span.wpcf7-not-valid-tip {
  font-weight: 400;
}

#contact-us .section-content .wpcf7-form p:nth-of-type(1), #contact-us .section-content .wpcf7-form p:nth-of-type(2), #contact-us .section-content .wpcf7-form p:nth-of-type(3) {
  width: 33.33333333%;
  margin: 0;
  position: relative;
  min-height: 1px;
  display: block;
  float: left;
}

#contact-us .section-content .wpcf7-form p:nth-of-type(1) {
  padding-right: 15px;
}

#contact-us .section-content .wpcf7-form p:nth-of-type(2) {
  padding-right: 15px;
  padding-left: 15px;
}

#contact-us .section-content .wpcf7-form p:nth-of-type(3) {
  padding-left: 15px;
}

#contact-us .section-content .wpcf7-form p:nth-of-type(4) {
  width: 100%;
  margin: 26px 0 0 0;
  padding: 0;
  display: block;
  float: left;
}

#contact-us .section-content .wpcf7-form p:nth-of-type(5) {
  margin: 0;
  padding: 0;
  display: block;
  float: right;
  width: auto;
}

#contact-us .section-content .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ng {
  color: #fff;
}

#contact-us .section-content .wpcf7-form .wpcf7-response-output {
  margin-top: 40px !important;
  float: left;
}

#contact-us div.wpcf7 img.ajax-loader {
  margin-top: 50px;
  margin-right: 10px;
}

#contact-us .section-content .wpcf7-form p .wpcf7-text {
  width: 100%;
  height: 35px;
  background-color: #fcfcfc;
  padding: 0 20px;
  border: 1px solid #e1e1e1;
  outline: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #8c9597;
  display: block;
  font-weight: 400;
  line-height: 25px;
}

#contact-us .section-content .wpcf7-form p .wpcf7-text::-webkit-input-placeholder {
  color: #8c9597;
}

#contact-us .section-content .wpcf7-form p .wpcf7-text::-moz-placeholder {
  color: #8c9597;
}

#contact-us .section-content .wpcf7-form p .wpcf7-text:-ms-input-placeholder {
  color: #8c9597;
}

#contact-us .section-content .wpcf7-form p .wpcf7-text:-moz-placeholder {
  color: #8c9597;
}

#contact-us .section-content .wpcf7-form p .wpcf7-textarea {
  width: 100%;
  height: 217px;
  background-color: #fcfcfc;
  margin: 0;
  padding: 10px 20px 10px 20px;
  border: 1px solid #e1e1e1;
  outline: 0;
  resize: none;
  display: block;
  color: #8c9597;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

#contact-us .section-content .wpcf7-form p .wpcf7-textarea::-webkit-input-placeholder {
  color: #8c9597;
}

#contact-us .section-content .wpcf7-form p .wpcf7-textarea::-moz-placeholder {
  color: #8c9597;
}

#contact-us .section-content .wpcf7-form p .wpcf7-textarea:-ms-input-placeholder {
  color: #8c9597;
}

#contact-us .section-content .wpcf7-form p .wpcf7-textarea:-moz-placeholder {
  color: #8c9597;
}

#contact-us .section-content .wpcf7-form p .wpcf7-submit {
  width: auto;
  height: 44px;
  background-color: #fff;
  margin: 40px 0 0 0;
  padding: 0 60px;
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  background-color: #f1d204;
  float: right;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0;
  font-family: "Lato";
  font-size: 16px;
  text-transform: initial;
}

#contact-us .section-content .wpcf7-form p .wpcf7-submit:hover {
  opacity: 0.9;
}

#contact-us .section-content .wpcf7-form .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
  margin: 0;
  padding: 10px 20px;
  float: left;
  border-color: #f3c3c3;
}
.wpcf7 label {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Lato";
}

.wpcf7-form p .wpcf7-form-control:hover,
.wpcf7-form p .wpcf7-form-control:focus,
#contact-us .section-content .wpcf7-form p .wpcf7-textarea:hover,
#contact-us .section-content .wpcf7-form p .wpcf7-textarea:focus,
#contact-us .section-content .wpcf7-form p .wpcf7-text:hover,
#contact-us .section-content .wpcf7-form p .wpcf7-text:focus {
  border-color: #d2c9dc;
}

.wpcf7-form p .wpcf7-form-control.wpcf7-not-valid,
#contact-us .section-content .wpcf7-form p .wpcf7-textarea.wpcf7-not-valid,
#contact-us .section-content .wpcf7-form p .wpcf7-text.wpcf7-not-valid {
  border-color: #f3c3c3;
}
