/* 11. Footer */
#footer {
  width: 100%;
  background-color: #292825;
  padding: 40px 0 0;
}
#footer .bottom-footer {
  margin-top: 50px;
  padding: 30px 0;
  text-align: center;
  background-color: #242320;
}

#footer .footer-logo {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  text-align: right;
}

#footer .footer-logo img {
  max-width: 100%;
  height: auto;
}

#footer .copyright {
  width: 100%;
  line-height: 1.2;
  color: #8c9597;
  margin-bottom: 0;
  font-size: 15px;
}
#footer .bottom-copyright {
  color: #fff;
}

#footer .copyright a {
  color: #8c9597;
  text-decoration: none;
}

#footer .copyright a:hover {
  text-decoration: underline;
}

#footer .widget .widget-title {
  margin: 0 0 20px 0;
  padding: 0;
  color: #fff;
}
#footer .widget .widget-title h5,
#footer .widget .widget-title h5 a {
  color: #fff;
}

#footer .widget .widget-title:before {
  display: none;
}

#footer .widget .widget-title h3 {
  line-height: 1.15;
  color: #ffffff;
  font-size: 20px;
  font-family: "Lato";
  text-transform: initial;
}
#footer .widget table#wp-calendar tbody tr td a {
  width: calc( 100% + 8px );
  height: calc( 100% + 8px );
  left: -4px;
  top: -4px;
}

.widget_rss cite {
  color: #545454;
}
#footer .widget_rss cite {
  color: #fff;
}
.recentcomments > a {
  color: #f1d204;
}
.recentcomments a:hover {
  color: #6a4d8a;
}

#footer .widget ul li:last-child {
  margin-bottom: 0;
}

#footer .widget table thead th {
  color: #fff;
  font-weight: normal;
}
#footer .widget table tbody tr td:not(.pad) {
  color: #eeeeee;
  padding: 0;
  border: 3px solid #363636;
  background-color: transparent;
  line-height: 24px;
}
