/* 11. Footer */
#footer {
  width: 100%;
  background-color: #292825;
  padding: 2.5rem 0 0;

  ul {
    padding-left: 0;
    line-height: 2.4rem;
    list-style: none;
  }

  a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }
}
#footer .bottom-footer {
  margin-top: 3rem;
  padding: 2rem 0;
  text-align: center;
  background-color: #242320;
}

#footer .copyright {
  width: 100%;
  line-height: 1.2;
  color: #8c9597;
  margin-bottom: 0;
  font-size: .8rem;
}
#footer .bottom-copyright {
  color: #fff;
}

#footer .copyright a {
  color: #8c9597;
  text-decoration: none;
}

#footer .copyright a:hover {
  text-decoration: underline;
}

#footer h5 {
    color: white;

}
