/* 18. Gallery */

.gallery.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery.gallery-columns-3 .gallery-item:nth-child(3n+1) {
  clear: left;
}

.gallery:after {
  content: "";
  display: block;
  clear: both;
}

.inline-columns {
  text-align: center;
}

.inline-columns > div {
  display: inline-block;
  float: none;
  vertical-align: top;
}
