html {
  scroll-behavior: smooth;
}

h2 {
  img {
    height: 1.3em;
  }
}

img {
  max-width: 100%;
}
a {
  color: #5c6364;
}
a:hover, a:focus {
  color: #6a4d8a;
}

.default-page {
  margin-bottom: 4em;
  a {
    text-decoration: underline;
  }
  a.btn {
    text-decoration: none;
  }
  .section-header {
    background-image: url(../images/pattern.png);
    background-size: auto;
    background-repeat: repeat;
    margin-bottom: 1.681em;
    min-height: 160px;
    h1 {
        padding-top: 1em;
    }
  }
}

.front-page-section {
  text-align: center;
  padding: 4em 0 5em 0;
}
.front-page-section .section-header {
  margin-bottom: 3em;
  width: 100%;
}

.section-description img {
  max-width: 100%;
}

.front-page-section .section-content {
  width: 100%;
}

.no-padding {
  padding: 0;
}

#download {
  background-image: url(../images/pattern.png);
  background-size: auto;
  background-repeat: repeat;
}

.highlighter-rouge pre {
  background-image: url(../images/pattern.png);
  padding: .5rem;
  border: 1px solid #ddd;
  border-radius: .25rem;
}
