/* 01. General */
html,
body {
  width: 100%;
  height: 100%;
  display: block;
  word-wrap: break-word;
}

body {
  line-height: 26px;
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #8c9597;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Poppins";
}
h1 {
  font-size: 60px;
  line-height: 84px;
  font-weight: 700;
}
h2 {
  font-size: 46px;
  line-height: 70px;
  font-weight: 700;
}
h3 {
  font-size: 35px;
  line-height: 38px;
  font-weight: 700;
  img {
    height: 38px;
  }
}
h4 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
}
h5 {
  font-size: 23px;
  line-height: 32px;
  font-weight: 700;
}
h6 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
textarea,
input {
  -webkit-appearance: none;
  border-radius: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: #5c6364;
}
a:hover, a:focus {
  color: #6a4d8a;
}

.default-page {
  margin: 65px 0;
  a {
    text-decoration: underline;
  }
  a.btn {
    text-decoration: none;
  }
}

.front-page-section {
  width: 100%;
  text-align: center;
}
.front-page-section .section-header {
  margin-bottom: 65px;
}
.front-page-section .section-header {
  width: 100%;
}

.front-page-section .section-header h3 {
  margin: 0 0 5px 0;
  color: #545454;
}
.section-description img {
  max-width: 100%;
}
.front-page-section .section-header .section-description {
  margin-bottom: 0;
  line-height: 26px;
  font-size: 16px;
  color: #8c9597;
  font-family: "Lato";
  font-weight: 400;
}
.front-page-section .section-header .section-description ul,
#header .bottom-header .section-description ul,
#header .bottom-header .section-description ol,
.front-page-section .section-header .section-description ol {
  list-style-position: inside;
}

.front-page-section .section-content {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {
  margin: 0;
}

.open-responsive-menu {
  display: none;
}

.responsive-menu {
  display: none;
}

.customizer-display-none {
  display: none;
}

.customizer-display-block {
  display: block;
}
