/* 02. Header */
#header {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-header {
  width: 100%;
  padding-top: 40px;
  background-color: #222f36;

  .header-logo {
    display: block;
    font-size: 36px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 68px;
    font-weight: 600;
    font-family: "Poppins";

    img {
      width: 48px;
    }
    a:hover {
      color: #fff;
    }
  }

  .header-logo:hover {
    color: #f1d204;
    text-decoration: none;
  }

  .header-navigation {
    float: right;
  }

  .header-navigation ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header-navigation > ul {
    margin-top: 20px;
  }
  .header-navigation ul li {
    margin-left: 40px;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    position: relative;
    float: left;
    font-family: "Lato";
  }

  .header-navigation ul li:first-child {
    margin-left: 0;
  }

  .header-navigation ul li a {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
  }

  .header-navigation ul li:hover a {
    color: #ffde00;
    text-decoration: none;
  }

}

#header .top-header {
  background-color: transparent;
}

#header .bottom-header {
  width: 100%;
  padding-top: 240px;
  padding-bottom: 280px;
  text-align: center;
}

#header .bottom-header.blog {
  padding: 130px 0;
}
#header .bottom-header.blog p {
  margin-bottom: 0;
  color: #fff;
}

#header .bottom-header h1 {
  margin: 0 0 29px 0;
  line-height: 84px;
  font-weight: 700;
  font-size: 80px;
  color: #fff;
}
#header .bottom-header h1 span {
  word-wrap: break-word;
}

#header .bottom-header span.span-dot {
  color: #ffde00;
}

#header .bottom-header .section-description {
  line-height: 26px;
  margin-bottom: 60px;
  font-size: 16px;
  color: #fff;
  font-family: "Lato";
  font-weight: 400;
}

#header .bottom-header .header-button-one {
  width: auto;
  height: 63px;
  line-height: 57px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 15px;
  padding: 0 70px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Lato";
  min-width: 242px;
}

#header .bottom-header .header-button-one:hover {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

#header .bottom-header .header-button-two {
  width: auto;
  height: 63px;
  line-height: 63px;
  background: #f1d204;
  margin: 0 15px;
  padding: 0 70px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Lato";
  min-width: 242px;
}

#header .bottom-header .header-button-two:hover {
  background: rgba(241, 210, 4, 0.9);
  text-decoration: none;
}
