/* 02. Header */
#header, #header-wrapper {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen {
    background-attachment: fixed;
  }
  
  // Safari on iOS does not support fixed backgrounds
  // https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout
  @supports (-webkit-touch-callout: none) {
    background-attachment: scroll;
  }
}

#header-wrapper {
  background-image: url(../images/splash-lowres.jpg);
  background-color: #7a7879;
}

#header {
}

.top-header {
  width: 100%;
  background-color: #292825;

  .header-logo {
    display: block;
    font-size: 36px;
    color: #fff;
    font-weight: 800;
    font-family: $headings-font-family;
    letter-spacing: 0.02em;
    line-height: 72px;

    img {
      width: 48px;
      vertical-align: text-top;
    }
  }

  .header-logo:hover {
    color: white;
    text-decoration: none;
  }

  .header-subtitle {
    font-family: $headings-font-family;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    padding-left: 4px;
    letter-spacing: 0.2em;
    line-height: 8px;
  }

  .header-navigation {
    float: right;
  }

  .header-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header-navigation ul li {
    margin-left: 40px;
    line-height: 72px;
    font-weight: 700;
    position: relative;
    display: inline;
  }

  .header-navigation ul li:first-child {
    margin-left: 0;
  }

  .header-navigation ul li a {
    color: #fff;
  }

  .header-navigation ul li:hover a {
    color: #ffde00;
    text-decoration: none;
  }

}

#header .top-header {
  background-color: transparent;
}

#header .bottom-header {
  width: 100%;

  padding-top: 2rem;
  padding-bottom: 2rem;

  @media screen {
    padding-top: 240px;
    padding-bottom: 280px;
  }
  text-align: center;
  text-shadow: 0 0 2px #aaa;
  letter-spacing: 0.04em;

  h1 {
    margin: 0 0 29px 0;
    line-height: 84px;
    font-weight: 900;
    font-size: 80px;
    color: #fff;
  }

  p {
    font-size: 24px;
  }
}


#header .bottom-header .section-description {
  margin-bottom: 60px;
  color: #fff;
}

#header .bottom-header .header-button-one {
  width: auto;
  height: 63px;
  line-height: 57px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 15px;
  padding: 0 70px;
  border: 3px solid #fff;
  font-weight: 700;
  color: #fff;
  min-width: 242px;
  font-size: 16px;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
  }
}

#header .bottom-header .header-button-two {
  width: auto;
  height: 63px;
  line-height: 63px;
  background: #f1d204;
  margin: 0 15px;
  padding: 0 70px;
  font-weight: 700;
  color: #fff;
  min-width: 242px;
  font-size: 16px;

  &:hover {
    background: rgba(241, 210, 4, 0.9);
    text-decoration: none;
  }
}


@media only screen and (max-width: breakpoint-max("md")) {
  .top-header .header-navigation {
    display: none;
  }

  #header .bottom-header {
    padding-top: 120px;
    .header-button-one, .header-button-two {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: breakpoint-max("sm")) {
  .top-header .header-logo img {
    max-width: 320px;
  }

  #header .bottom-header {
    padding-top: 80px;
    h1 {
      font-size: 60px;
      line-height: 68px;
    }
    p {
      font-size: 16px;
    }
    .section-description {
      margin-bottom: 30px;
    }
  }
}


// === Menu

.open-responsive-menu {
  height: 100%;
  line-height: 72px;
  outline: 0;
  display: block;
  text-align: right;
  margin: 0;
  .fa {
    font-size: 1.5rem;
    color: #fff;
  }
}

.close-responsive-menu {
  font-size: 1.5rem;
  display: block;
  margin: 1rem 1rem 2.5rem;
  color: black;
}

.responsive-menu {
  background-color: #fff;

  position: fixed;
  top: 0;
  right: -250px;
  transition: 0.5s;
  width: 250px;
  z-index: 10;
  bottom: 0;
  box-shadow: 0 0 4px #e4e4e4;
  overflow-y: auto;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ul li {
    width: 100%;
  }

  ul li a {
    width: 100%;
    padding: .75rem;
    display: block;
    border-bottom: 1px solid #e4e4e4;
    color: #000;
    text-align: center;
  }
  ul li:first-child a {
    border-top: 1px solid #e4e4e4;
  }
}

#menu-toggle:checked ~ .responsive-menu {
  right: 0;
}

@media only screen and (min-width: breakpoint-min("lg")) {

  .open-responsive-menu,
  #menu-toggle:checked ~ .responsive-menu {
    display: none;
  }
}

// Suppress menus for print
@media print {
  .responsive-menu, .open-responsive-menu, .header-navigation,
  .header-button-one, .header-button-two {
      display: none !important;
  }
}
