/* 07. Latest News */
#latest-news {
  width: 100%;
  padding: 75px 0 85px 0;
  text-align: center;
}

#latest-news .section-header h3,
#latest-news .section-header p {
  color: #fff;
}

#latest-news .section-header {
  margin-bottom: 55px;
}

#latest-news .section-content {
  width: 100%;
}

#latest-news .section-content .post {
  width: 100%;
  background-color: #fff;
  padding-bottom: 40px;
  text-align: left;
  min-height: 547px;
}

#latest-news .blog-post {
  margin-top: 30px;
  min-height: 540px;
}
#latest-news .owl-item .blog-post {
  width: 100%;
}
#latest-news .section-content .post .post-image {
  width: 100%;
  height: 213px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 37px;
}
#latest-news .blog-post h5 {
  margin: 0;
}

#latest-news .section-content .post .post-title a {
  width: 100%;
  padding: 0 30px;
  color: #5e5e5e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}

#latest-news .section-content .post .post-title a:hover {
  color: #f1d204;
  text-decoration: none;
}

#latest-news .section-content .post .post-entry {
  margin: 40px 0 55px 0;
  padding: 0 30px;
  color: #8c9597;
}

#latest-news .section-content .post .post-button {
  padding: 0 30px;
  color: #f1d204;
  transition: all 0.3s;
  margin-left: 10px;
}

#latest-news .section-content .post .post-button:hover,
#latest-news .section-content .post .post-button:focus {
  text-decoration: none;
  color: #6a4d8a;
}
#latest-news .section-content .post .post-button:active,
.illdy_home_parallax h3 {
  color: #545454;
}
.top-parallax-section h1,
.top-parallax-section p {
  color: #fff;
}

#latest-news .section-content .post .post-button .fa {
  margin-right: 10px;
}

#latest-news .latest-news-button,
a.button {
  width: auto;
  height: 45px;
  line-height: 45px;
  background: #f1d204;
  margin-bottom: 50px;
  padding: 0 35px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  color: #f7f7f7;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Lato";
}

#latest-news .latest-news-button:hover,
a.button:hover {
  text-decoration: none;
  opacity: 0.9;
  color: #fff;
}
.right-button {
  margin-left: 15px;
}
#latest-news .latest-news-button .fa {
  margin-right: 12px;
}
