/* 14. Markup Format */
.markup-format h1,
.markup-format h2,
.markup-format h3,
.markup-format h4,
.markup-format h5,
.markup-format h6 {
  margin: 30px 0;
}

.markup-format p {
  margin: 30px 0;
}

.markup-format a {
  color: #e2c504;
  text-decoration: underline;
}

.markup-format a:hover {
  text-decoration: none;
}

.markup-format img {
  max-width: 100% !important;
  height: auto;
}

.markup-format img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

.markup-format img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

.markup-format img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markup-format .alignright {
  float: right;
}

.markup-format .alignleft {
  float: left;
}

.markup-format .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markup-format .wp-caption {
  max-width: 100%;
  height: auto;
}

.markup-format .post-password-form {
  width: 100%;
}

.markup-format .post-password-form label {
  float: left;
}

.markup-format .post-password-form input[type="submit"] {
  height: 40px;
  margin: 0;
}

.markup-format .gallery-item {
  width: 25%;
  padding: 10px;
  float: left;
}

.markup-format .gallery-columns-1 .gallery-item {
  width: 100%;
}

.markup-format .gallery-columns-2 .gallery-item {
  width: 50%;
}

.markup-format .gallery-columns-3 .gallery-item {
  width: 33.33%;
}

.markup-format .link-pages {
  width: 100%;
  margin-bottom: 40px;
  float: left;
}

.markup-format iframe {
  max-width: 100%;
}

.markup-format blockquote,
.markup-format q {
  margin: 0;
  padding: 0;
  line-height: 50px;
  font-size: 30px;
  color: #888;
  border-left: none;
}

.markup-format blockquote:before, .markup-format blockquote:after {
  content: "\"";
}

.markup-format cite {
  font-style: normal;
  font-size: 14px;
  color: #888;
}

.markup-format blockquote p {
  margin: 0;
}

.markup-format ul {
  list-style-position: inside;
  list-style-type: disc;
}

.markup-format ul li {
  list-style-position: inside;
  list-style-type: disc;
}

.markup-format ul li ul {
  padding-left: 20px;
}

.markup-format ol {
  list-style-position: inside;
  list-style-type: decimal;
}

.markup-format ol li {
  list-style-position: inside;
  list-style-type: decimal;
}

.markup-format ol li ol {
  padding-left: 20px;
}

.markup-format table {
  width: 100%;
}

.markup-format table caption {
  color: #888;
  margin-bottom: 10px;
  font-weight: 700;
}

.markup-format table thead {
  color: #888;
}

.markup-format table thead th {
  padding-bottom: 5px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.markup-format table thead th:last-child {
  border-right: none;
}

.markup-format table tbody {
  color: #888;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
}

.markup-format table tbody a {
  font-weight: 700;
}

.markup-format table tbody tr {
  border-bottom: 1px solid #eee;
}

.markup-format table tbody tr:last-child {
  border-bottom: none;
}

.markup-format table tbody tr td {
  border-right: 1px solid #eee;
  padding: 7px;
}

.markup-format table tbody tr td:last-child {
  border-right: none;
}

.markup-format table tfoot {
  font-size: 14px;
  color: #888;
}

.markup-format table tfoot #next {
  text-align: right;
}

.markup-format table a {
  color: #888;
  text-decoration: underline;
}

.markup-format table a:hover {
  text-decoration: none;
}

.markup-format table td#prev {
  padding-top: 10px;
}

.markup-format table td#prev a {
  color: #888;
}

.markup-format table td#next {
  padding-top: 10px;
}

.markup-format table td#next a {
  color: #888;
}
