/* 04. Projects */
#projects {
  width: 100%;
  padding: 65px 0 0 0;
  text-align: center;
}

#projects .container-fluid {
  max-width: 1920px;
}

#projects .section-header {
  margin-bottom: 65px;
}

#projects .project {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#projects .project.no-url {
  pointer-events: none;
}
#projects .project:hover .project-overlay {
  opacity: 0.3;
}

#projects .project .project-overlay {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
