/* 06. Services */

.service {
    margin-bottom: 2.5em;

    .service-icon {
        margin-bottom: 10px;
        font-size: 2.25em;
    }

    .service-icon .fa {
        display: block;
    }

    .service-title {
        margin-bottom: 1.25em;
    }

    &:last-child {
        margin-bottom: 0
    }
}
