/* 06. Services */

.service {
    margin-bottom: 2.5rem;

    .service-icon {
        margin-bottom: 10px;
        font-size: 2.25rem;
    }

    .service-icon .fa {
        display: block;
    }

    .service-title {
        margin-bottom: 1.25rem;
    }
}

#about {
    padding-bottom: 1.5rem;
}
