/* 05. Testimonials */
#testimonials {
  width: 100%;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#testimonials .section-header {
  width: 100%;
  margin-bottom: 40px;
}

#testimonials .section-header h3 {
  color: #fff;
}

#testimonials .section-content {
  width: 100%;
}

#testimonials .section-content .testimonials-carousel {
  width: 100%;
}

#testimonials .section-content .testimonials-carousel .carousel-testimonial {
  text-align: center;
}

#testimonials .section-content .testimonials-carousel .carousel-testimonial .testimonial-image {
  width: 100%;
  margin-bottom: 40px;
}

#testimonials .section-content .testimonials-carousel .carousel-testimonial .testimonial-image img {
  width: 127px;
  height: 127px;
  display: inline;
  border-radius: 50%;
}

#testimonials .section-content .testimonials-carousel .carousel-testimonial .testimonial-content {
  width: 100%;
  background-color: #6a4d8a;
  margin-bottom: 48px;
  padding: 50px 35px 25px;;
  position: relative;
}

#testimonials .section-content .testimonials-carousel .carousel-testimonial .testimonial-content blockquote {
  line-height: 26px;
  margin: 0;
  padding: 0;
  border-left: none;
  color: #fff;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
}

#testimonials .section-content .testimonials-carousel .carousel-testimonial .testimonial-content:after {
  content: "";
  width: 0;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 19px 18px 0 18px;
  border-color: #6a4d8a transparent transparent transparent;
  position: absolute;
  right: 0;
  bottom: -19px;
  left: 0;
}

#testimonials .section-content .testimonials-carousel .carousel-testimonial .testimonial-meta {
  width: 100%;
  color: #fff;
  font-family: "Poppins";
}

#testimonials .section-content .testimonials-carousel .owl-controls {
  width: 100%;
  margin-top: 20px;
}

#testimonials .section-content .testimonials-carousel .owl-controls .owl-dots {
  width: 100%;
}

#testimonials .section-content .testimonials-carousel .owl-controls .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 0 7.5px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

#testimonials .section-content .testimonials-carousel .owl-controls .owl-dots .owl-dot:hover, #testimonials .section-content .testimonials-carousel .owl-controls .owl-dots .owl-dot.active {
  background: transparent;
  border: 1px solid #fff;
}
