$primary: hsl(52, 85%, 55%);

$body-color: #565e60;

$font-family-sans-serif: "Open Sans", sans-serif;
$headings-font-family: "Mulish";

$font-size-base: 1rem;
$line-height-base: 1.681;

$h1-font-size: $font-size-base * 3.75;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$headings-font-weight: 800;
$headings-color: #545454;
