---
layout: article
---



{% for post in site.posts %}
    <h2><a href="{{ post.url }}" style="text-decoration: none;">{{ post.title }}</a></h2>
    <p class="credits">{{ site.data.strings.latest-news-and-blog.by }} {{ post.author }} ({{ post.date | date: "%Y-%m-%d" }})</p>
    {{ post.content | split:'<!--break-->' | first }}
    {% if post.content contains '<!--break-->' %}
        <p>
            <a href="{{ post.url }}" title="Read more" class="post-button">
                <i class="fa fa-chevron-circle-right"></i>
                {{ site.data.strings.latest-news-and-blog.read-more }}
            </a>
        </p>

    {% endif %}

{% endfor %}
