name: Build and deploy Jekyll site to GitHub Pages

on:
  push:

  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

env:
  python_version: '3.13'

jobs:
  github-pages:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Lint with Pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      - name: Install Linux Dependencies
        run: >
          sudo apt-get update -qq && sudo apt-get install -qq --no-install-recommends po4a
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.python_version }}
      - name: Build translations
        run: python po/build.py
      - name: Set up Ruby
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: 3.3.4
          bundler-cache: true
      - name: Build Pages
        run: |
          bundle install
          bundle exec jekyll build
      - name: Check Links
        run: >
          bundle exec htmlproofer
          --disable-external true
          --enforce-https false
          --allow-missing-href true
          --check-internal-hash false
          --checks Links ./_site
      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
