name: Build and deploy Jekyll site to GitHub Pages

on:
  push:

  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

env:
  python_version: '3.13'

jobs:
  github-pages:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Lint with Pre-commit
        run: pipx run pre-commit run --all-files
      - name: Install Linux Dependencies
        run: >
          sudo apt-get update -qq && sudo apt-get install -qq --no-install-recommends po4a
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.python_version }}
      - name: Build translations
        run: python po/build.py
      - name: Set up Ruby
        uses: ruby/setup-ruby@ed55d55e820a01da7d3e4863a8c51a61d73c3228 # v1.274.0
        with:
          ruby-version: 3.3.4
          bundler-cache: true
      - name: Build Pages
        run: |
          bundle install
          bundle exec jekyll build
      - name: Check Links
        run: >
          bundle exec htmlproofer
          --disable-external true
          --enforce-https false
          --allow-missing-href true
          --check-internal-hash false
          --checks Links ./_site
      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
