name: Update Gaphor version
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New version'
        required: true
  repository_dispatch:
    types: [version-update]

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Update version
        run: |
          if test -z "${{ github.event.inputs.version }}${{ github.event.client_payload.version }}"; then echo "No version provided"; exit 1; fi
          sed -i 's/^gaphor_version:.*$/gaphor_version: ${{ github.event.inputs.version }}${{ github.event.client_payload.version }}/' _config.yml
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: update to version ${{ github.event.inputs.version }}${{ github.event.client_payload.version }}
          title: Update to version ${{ github.event.inputs.version }}${{ github.event.client_payload.version }}
          body: Update to latest release
          branch: release-${{ github.event.inputs.version }}${{ github.event.client_payload.version }}
          base: main
