name: Update Gaphor version
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New version'
        required: true
  repository_dispatch:
    types: [version-update]

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Update version
        run: |
          if test -z "${{ github.event.inputs.version }}${{ github.event.client_payload.version }}"; then echo "No version provided"; exit 1; fi
          sed -i 's/^gaphor_version:.*$/gaphor_version: ${{ github.event.inputs.version }}${{ github.event.client_payload.version }}/' _config.yml
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: update to version ${{ github.event.inputs.version }}${{ github.event.client_payload.version }}
          title: Update to version ${{ github.event.inputs.version }}${{ github.event.client_payload.version }}
          body: Update to latest release
          branch: release-${{ github.event.inputs.version }}${{ github.event.client_payload.version }}
          base: main
